
.container-nav{
    background-color: rgba(136, 122, 76, 0.74);
    display: grid;
    height: 90px;
}

li {
    list-style: none;
}

#item{
    font-family: 'Dancing Script';
    font-size: 30px;
    font-weight: bold;
    margin-inline-end: 90px;
    cursor: pointer;
    text-align: center;
    color: black !important;
}

.menu li{
    display: inline-block;
    padding: 7px;
    margin-top: 10px;
}

#item:hover{
    font-size: 32px;
}
