@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&display=swap');

.container-nav{
    background-color: rgba(140, 158, 240, 0.74);
    display: grid;
    justify-content: space-around;
    height: 90px;
}

li {
    list-style: none;
}

#item{
    font-family: 'Fjalla One';
    font-size: 20px;
    margin-inline-end: 90px;
    cursor: pointer;
    text-align: center;
}

.menu li{
    display: inline-block;
    padding: 7px;
    margin-top: 10px;
}

#item:hover{
    font-size: 22px;
}
