@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.container-footer{
    background-color: rgba(136, 122, 76, 0.74);
    height: 120px;
    display: grid;
}

.address{
    font-family: 'Dancing Script';
    margin-left: 50px;
    font-size: 25px;
    margin-inline-end: 60px;
    text-align: center;
}

li{
    list-style: none;
}

ul{
    text-align: center;
}

.pie li{
    display: inline-block;
}

.logo{
    margin: 5px;
    margin-inline-end: 30px;
    text-align: center;
}

.contact{
    font-family: 'Dancing Script';
    font-size: 25px;
    text-align: center;
    margin-inline-start: 40px;
}


